* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3B82F6, #2DD4BF);
    position: relative; /* Added for positioning the illustration */
}
.inner-box {
    width: 400px;
    margin: auto; /* Center the inner box */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #259ebc;
    z-index: 1; /* Ensure the inner box is above the illustration */
}
.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}
.signup-body {
    margin: 20px;
}
.signup-body p {
    margin: 20px 0;
}
.signup-body p label {
    display: block;
    font-weight: bold;
}
.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    font-size: 1rem;
}
.signup-body p input[type="submit"] {
    background-color: #3ed8ff;
    border: none;
    cursor: pointer;
    color: white;
}
.signup-body p input[type="submit"]:hover {
    background-color: #259ebc;
}
.signup-footer p {
    color: #555;
    text-align: center;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3B82F6, #2DD4BF);
    position: relative; /* Added for positioning the illustration */
}
.inner-box {
    width: 400px;
    margin: auto; /* Center the inner box */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #259ebc;
    z-index: 1; /* Ensure the inner box is above the illustration */
}
.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
}
.signup-body {
    margin: 20px;
}
.signup-body p {
    margin: 20px 0;
}
.signup-body p label {
    display: block;
    font-weight: bold;
}
.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    font-size: 1rem;
}
.signup-body p input[type="submit"] {
    background-color: #3ed8ff;
    border: none;
    cursor: pointer;
    color: white;
}
.signup-body p input[type="submit"]:hover {
    background-color: #259ebc;
}
.signup-footer p {
    color: #555;
    text-align: center;
}
